body {
    font-family: "Open Sans", Verdana, sans-serif;
    color: #dddddd;
    background-color: #000000;
    text-align: center;
    font-weight: 300;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 800;
    margin-right: 2.5rem;
}

.nav-link {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-link:visited {
    color: #000000;
}

.nav-time {
    font-size: 2.25rem;
    font-weight: 800;
}

.card-catalogue a:link {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 700;
}

.card-catalogue a:visited {
    color: #ffffff;
}

.card-title {
    font-size: 1.7rem;
}

.display-5 {
    font-weight: 700;
}

.delete_button {
    font-size: .85rem;
}
